<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Apim.WebClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-treeview-master/src/css/bootstrap-treeview.css">
    <link href="~/lib/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>
<body>

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Apim.WebClient</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TryApi">try api</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Certificat">Certificat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ApiRestMgmnt" asp-action="Index">Api rest</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Api rest</a> <!-- lien -->
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="ApiRestMgmnt" asp-action="Index">Liste des Apis</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ApiRestMgmnt" asp-action="ListDetailAPIs">Liste des Détails Apis</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ApiRestMgmnt" asp-action="ApiUsingOai3Import">ApiUsingOai3Import</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ApiRestMgmnt" asp-action="ApiUsingSwaggerImport">ApiUsingSwaggerImport</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ApiRestMgmnt" asp-action="SoapToRestApiUsingWsdlImport">SoapToRestApiUsingWsdlImport</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Apim.WebClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-treeview-master/src/js/bootstrap-treeview.js"></script>
    <script src="~/lib/json-viewer/jquery.json-viewer.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
